<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <link href=' http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>    
</head>
<body>
    <header>
        <nav>
            <a href="inicio.html">STUDENTZ</a>
        </nav>
    </header>  
    <div class="cuerpo">
        <div class="contenidoInicio">
            <div class="menu">
                <h1>Bienvenido/a</h1>
                <a href="registrarCurso.html" class="btn btn-primary">Registrar curso</a>
                <a href="registrarAlumno.html" class="btn btn-primary">Registrar alumno</a>
                <a href="verCursos.html" class="btn btn-primary">Ver cursos</a>
                <a href="verAlumnos.html" class="btn btn-primary">Ver alumnos</a>
            </div>
        </div>
    </div>  
</body>
</html>